<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body onload="updateSelectsRequest()">
<div id="error-modal-container"></div>
<div class="container">
  <div class="listOfFunctions" hidden="hidden">
      <select id="selectFunction">
      </select>
  </div>

  <div id="chainOfFunctions">
    <label><select></select></label> <= <label><select></select></label>
  </div>

  <div>
    <input onclick="addFunction()" type="submit" value="Добавить функцию в цепочку" id="addFunction">
    <input onclick="deleteFunction()" type="submit" value="Удалить последнюю функцию в цепочке" id="deleteFunction">
    <input onclick="clearAll()" type="submit" value="Начать заново" id="clearAll">
  </div>

  <div>
    <label>
      Ввведите название для сложной функции:
      <input type="text" id="functionName">
    </label>
    <input onclick="createFunction()" type="submit" value="Создать сложную функцию" id="createFunction">
  </div>

  <div id="deleteSelectedFunction">
    <label for="selectForDeleting">Выберите свою функцию для удаления: </label><select id="selectForDeleting"></select>
    <input type="submit" value="Удалить" onclick="deleteCustomFunction()">
  </div>
</div>


<script th:src="@{/scripts/general.js}" src="/static/scripts/general.js" type="text/javascript"></script>
<script th:src="@{/scripts/createNewFunction.js}" src="/static/scripts/createNewFunction.js" type="text/javascript"></script>
</body>
</html>