<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Создание табулированной функции</title>
</head>
<body onload="createDropdownList()">
<div class="container">
  <span class="gotoHome"><a href="/home">Вернуться на главную страницу</a></span>

  <div class="inputData">
    <label> Выберите функцию:
      <select id="selectFunction">
      </select>
    </label>

    <label>
      Укажите количество точек разбиения:
      <input type="number"/>
    </label>

    <label>
      Укажите интервал разбиения: от
      <input type="number"/>
      до
      <input type="number"/>
    </label>
  </div>
</div>

<script src="/static/scripts/createTabulatedFunctionWithFunction.js" th:src="@{/scripts/createTabulatedFunctionWithFunction.js}"></script>
</body>
</html>