<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="get" action="/createTabulatedFunctionWithTable">
        <input type="submit" value="Создать табулированную функцию с помощью таблицы">
    </form>

    <form method="get" action="/createTabulatedFunctionWithFunction">
        <input type="submit" value="Создать табулированную функцию на основе математической функции">
    </form>

    <form method="get" action="/settings">
        <input type="submit" value="Настройки">
    </form>

    <form method="get" action="/logout">
        <input type="submit" value="Выйти из системы">
    </form>
</body>
</html>