<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/settings.css}" href="/static/styles/settings.css">
</head>
<body>
    <nav class="menu">
        <a th:href="@{/createTabulatedFunctionWithTable}" href="createTabulatedFunctionWithTable.html">Создать табулированную функцию с помощью таблицы</a>
        <a th:href="@{/createTabulatedFunctionWithFunction}" href="createTabulatedFunctionWithFunction.html">Создать табулированную функцию на основе математической функции</a>
        <a>Создание графика</a>
        <a>Создание новых функций</a>
        <a th:href="@{/doIntegral}" href="doIntegral.html">Выполнение интегрирования</a>
        <a th:href="@{/doDifferential}" href="doDifferential.html">Выполнение дифференцирования</a>
        <a th:href="@{/functionArithmetic}" href="functionArithmetic.html">Выполнение арифметических операций</a>
        <a th:href="@{/settings}" href="settings.html">Настройки</a>
        <a th:href="@{/logout}" href="logout.html">Выйти из системы</a>
    </nav>
</body>
</html>