<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
  <span class="gotoHome"><a href="/home">Вернуться на главную страницу</a></span>
  <div class="chooseFabric">
    <label>
      Создание табулированных функций на основе массивов
      <input type="radio" name="fabric" value="array" checked="checked">
    </label>
    <label>
      Создание табулированных функций на основе связного списка
      <input type="radio" name="fabric" value="linkedList">
    </label>
  </div>
</div>
</body>
</html>